// Breakpoints
$bp-dr_no: "(min-width: 80px)";
$bp-goldfinger: "(min-width: 200px)";
$bp-thunderball: "(min-width: 320px)";
$bp-you_only_live_twice: "(min-width: 570px)";
$bp-live_and_let_die: "(min-width: 880px)";
$bp-the_spy_who_loved_me: "(min-width: 1024px)";
$bp-moonraker: "(min-width: 1248px)";

// Colours
$page-color: #fff;
$text-color: #333;
$accent-color: #a435ff;

// Blur for lazy load
$blurRadius: 20px;